@import "vars.scss";

*{
	box-sizing: border-box;
}

html{
	font-size: 13px;

}

body{
	font-family: "PT Sans", "Times New Roman", "Roboto","Ubuntu";
}

ul{
	padding-left: 0;
	margin: 0;
	li{
	list-style-type: none;
	display: inline-block !important;
	}
}


.fa-phone, .fa-map-marker{
	position: absolute;
	top: 32%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	color: $white;
}

.vertical-align{
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
}

.icon_cont{
	display: inline-block;
	position: relative; 	
	width: 37px;
	height: 37px;
	border-radius: 50%;
	background-color: $light-blue;
	margin-right: 14px;
	margin-left: 26px;
	@media (max-width: 900px){
		width: 27px;
		height: 27px;
	}
	@media(max-width: 670px){
		margin-left: 15px;
	}
	@media (max-width: 347px){
		width: 15px;
		height: 15px;
		margin-left: 10px;
	}	
}
#map_cont{
	@media(max-width: 670px){
		margin:0 5px;
	}
}

.tel{
	color: $white;
	text-transform: uppercase;
	font-size: 1.23rem;
	font-weight: $weight-bold;
	@media (max-width: 900px){
		font-size: 1rem;
	}	
}

.active_lang{
	border: 2px solid $blue !important;
	a{
		color: $white !important;	
	}
}
.active{
	background-color: $green !important;
	//margin: 1px;
}

.bbtn{
	width: 180px;
	height: 50px;
	border-radius: 1px 2px 2px 1px;
	text-transform: uppercase;
	color: $white;
	background-color: $green;
	font-size: 1.07;
	font-weight: $weight-bold;
	line-height: 1.71;
	font-family: "PT Sans";
	border: none;
	@media(max-width: 350px){
			width: 150px;
	}
	&:hover{
		background-color:transparent;
		border: 1px solid $blue;
		color: $white;
	}
}

.sect{
	padding: 4.65% 18% 2.90%;
	background: url(img/1.png) top no-repeat;
	@media(max-width: 1200px){
		padding: 4.65% 9.5% 3.64%;
		}

	h1{
		text-align: center;
		color: $dark-original;
		font-family: "PT Sans";
		font-size: 2.153rem;
		font-weight: $weight-bold;
		line-height: 1.43;
		text-transform: uppercase;
	}
	.blue_green_box{
		width: 32px;
		height: 4px;
		background: url(img/2.png);
		margin: 0 auto 40px;
	}
}

.anchor_more{
	color: $blue;
	font-size: 1rem;
	font-weight: $weight-bold;
	text-transform: uppercase;
	text-decoration: none;
}
.card{
	width: 30%;
	overflow: hidden;
	text-align: center;
	margin: 0 16px;
	padding-bottom: 25px;
	display: inline-block;
	vertical-align: top;
	@media(max-width: 1000px){
		width: 100%;
		margin-left: 0;
	}
	&:first-child{
		//margin-left: 0;
	}
	&:last-child{
		//margin-right: 0;
	}
	&:hover{
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	}

	img{
		width: 100%;
	}
	h4{
		font-size: 1.15rem;
		color: $dark-original;
		text-transform: uppercase;
		font-weight: $weight-bold;
	}
	h6{
		font-size: 0.76rem;
		color: $dark-original;
		text-transform: uppercase;
		font-weight: $weight-bold;
	}
	p{
		margin: 0 0 25px;
		font-size: 1rem;
		color: $light-grey;
	}
	a{
			margin-top: 25px;
	}
}

.blue_white_box{
	width: 32px;
	height: 4px;
	background: url(img/blue-white.png) left;
	background-size:cover;
	margin: 30px 0;
	@media(max-width: 1200px){
		margin-left: auto;
		margin-right: auto;
	}	
}
.white_green_box{
	width: 32px;
	height: 4px;
	background: url(img/white-green.png);
	margin: 30px 0;	
	@media(max-width: 1200px){
		margin-left: auto;
		margin-right: auto;
	}	
}